<mat-toolbar color="primary">
  <span>Miwii Store Admin</span>
  <span class="login-section"></span>
  <button mat-icon-button class="favorite-icon">
    <mat-icon>manage_accounts</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="main-container">
  <mat-sidenav #sidenav class="menu-sidenav" mode="side" opened="true">
    <mat-nav-list>
      <mat-list-item class="parent" routerLink="/product" routerLinkActive="active" ariaCurrentWhenActive="page">
        <span>Products</span>
      </mat-list-item>
      <mat-list-item class="parent">
        <span>Orders</span>
      </mat-list-item>
      <mat-list-item class="parent">
        <span>Users</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <div class="main-sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>